<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coordinator View</title>
</head>
<body>

    <div>
        <h2>Coordinator Management</h2>
    </div>

    <div class="btn btn-outline-dark btn-sm">
        <a href="http://localhost:54007/Review/PendingVeredicts"><i class="fa fa-file-text"></i> Manage Veredicts</a>
    </div>

    <div class="btn btn-outline-dark btn-sm">
        <a href="http://localhost:54007/AssingReviewers/AssingReviewers"><i class="fa fa-check-circle-o"></i> Manage Reviewers</a>
    </div>

    <div class="btn btn-outline-dark btn-sm">
        <a href="http://localhost:54007/Colaboration/Colaboration"><i class="fa fa-hand-paper-o"></i> Ask for review collaboration</a>
    </div>

    <div class="btn btn-outline-dark btn-sm">
        <a href="http://localhost:54007/Report/ReportUsers"><i class="fa fa-line-chart"></i> Generate user report</a>
    </div>

    <div class="btn btn-outline-dark btn-sm">
        <a href="http://localhost:54007/CommunityProgressReport/Index"><i class="fa fa-line-chart"></i> Generate community progress report</a>
    </div>

</body>
</html>
