<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Core Member View</title>
</head>
<body>

    <div>
        <h2>Core Member Management</h2>
    </div>

    <div class="btn btn-outline-dark btn-sm">
        <a href="http://localhost:54007/Review/PendingReviews"><i class="fa fa-check-square-o"></i> Pending Reviews</a>
    </div>

    <div class="btn btn-outline-dark btn-sm">
        <a href="http://localhost:54007/Review/ReviewRequests"><i class="fa fa-plus-circle"></i> My Review Requests</a>
    </div>

    <div class="btn btn-outline-dark btn-sm">
        <a href="http://localhost:54007/Report/ReportUsers"><i class="fa fa-line-chart"></i> Generate reports</a>
    </div>



</body>
</html>