@model IEnumerable<Proyecto.Models.ArticleModel>

<div class="container featured-area-default padding-30">
    <div class="row">
        <div class="col-md-8 padding-20">
            <div class="row">
                <div class="fb-heading">
                    All Articles
                </div>
                <hr class="style-three">
                @foreach (var item in Model)
                {
                    <div class="card card-default">
                        <div class="article-heading-abb">
                            <a href="single-article.html"><i class="fa fa-pencil-square-o"></i>@Html.DisplayFor(modelItem => item.name)</a>
                        </div>
                        <div class="article-info">
                            <div class="art-date"><a href="#"><i class="fa fa-calendar-o"></i></a>@Html.DisplayFor(modelItem => item.publishDate)</div>
                            <div class="art-category"><a href="#"><i class="fa fa-folder"></i>@Html.DisplayFor(modelItem => item.topicName)</a></div>
                            <div class="art-comments"><a href="#"><i class="fas fa-thumbs-up"></i>@Html.DisplayFor(modelItem => item.likeBalance)</a></div>
                        </div>

                        <div class="article-content">
                            <p class="block-with-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet finibus dui. Fusce ac nulla nec ex ornare vehicula non nec mi. Cras eget nisi sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec viverra faucibus magna sed interdum. Phasellus ultrices sagittis molestie. Sed sit amet nisl id risus egestas semper. In porta, arcu eu dignissim vestibulum, sapien justo imperdiet enim, sed facilisis quam justo in neque. Aliquam fermentum arcu eget hendrerit efficitur.
                            </p>
                        </div>

                        <div class="article-read-more">
                            <a href="single-article.html" class="btn btn-outline-dark btn-sm btn-wide">Read more...</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>































