@model IEnumerable<Proyecto.Models.FaqModel>

<p>
    @Html.ActionLink("Post question", "SendFaq")
</p>

<table class="table">
    <h4>FAQ</h4>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <b>Pregunta: @Html.DisplayFor(modelItem => item.question)</b>
            </td>

        </tr>

        <tr>
            <td>
                <b>Respuesta:</b> @Html.DisplayFor(modelItem => item.answer)
            </td>
        </tr>
    }

</table>