@model Proyecto.Models.ArticleModel

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-multiselect.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>      
        <script src="~/Scripts/js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="~/Scripts/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/Scripts/js/bootstrap-multiselect.js" type="text/javascript"></script>    
        <script src="~/Scripts/js/AssignReviewers.js"></script>
        <title></title>
    </head>
    <body>
        <h2>Potential Reviewers</h2>
        <button onclick="createReviewersDropdown(@Model.articleId)" class="btn btn-primary">Show possible reviewers</button>
        <div class="article-content" id="reviewersDropDown">

        </div>

        <button onclick="sendToController(@Model.articleId)" class="btn btn-primary">Assing this reviewers</button>

    </body>
</html>

