<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KnowItAll Community</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <script src="~/Scripts/js/modernizr-2.8.3.js"></script>
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/js/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src='https://cdn.rawgit.com/VPenkov/okayNav/master/app/js/jquery.okayNav.js'></script>
</head>
<body>
    <div class="container body-content">
        @Html.Partial("_NavigationBar")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - KnowItAll Community</p>
        </footer>
    </div>
</body>
</html>
