

@*<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="http://localhost:54007/Articulo">Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:54007/Article/">Articles <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:54007/Article/Create">Create article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:54007/Article/Upload">Upload Article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:54007/Article/SearchTopic">Search Topic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:54007/Article/ShowQuestion">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:54007/Article/ModeratorQuestion">Moderator FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:54007/Email/SendMail">E-Mails</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:54007/Profile/Profile">Profile</a>
            </li>

        </ul>
    </div>
</nav>*@

<div class="container-fluid featured-area-white-border">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-box border-left-1 border-right-1">
                    <a href="http://localhost:54007/Email/SendMail"><i class="fa fa-envelope"></i>Email</a>
                </div>
                <div class="login-box border-right-1">
                    <a href="http://localhost:54007/Profile/Profile"><i class="fa fa-user"></i>My Profile</a>
                </div>
                <div class="login-box border-left-1 border-right-1">
                    <a href="http://localhost:54007/Profile/Registration"><i class="fa fa-pencil"></i> Sign Up</a>
                </div>
                <div class="login-box border-left-1 border-right-1">
                    <a href="http://localhost:54007/Profile/Login"><i class="fa fa-key"></i> Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="navigation">
        <div class="row">
            <ul class="topnav">
                <li></li>
                <li><a href="http://localhost:54007/Article/HomePage"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="http://localhost:54007/Article/CommunityArticles"><i class="fa fa-file-text-o"></i> Articles</a></li>
                <li><a href="http://localhost:54007/Article/ShowQuestion"><i class="fa fa-lightbulb-o"></i> FAQ</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="searchfield bg-hed-six">
    <div class="container" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="row text-center margin-bottom-20">
            <h1 class="white">Welcome to KnowItAll Community</h1>
            <span class="nested">
                Share your ideas, find solutions and innovate!
            </span>
        </div>
        <br>
    </div>
</div>





